:root {
  font-family: 'Inter', 'Avenir', 'Helvetica', Arial, sans-serif;
  /*font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Roman", Icons;*/
  font-size: 27.2px;
  line-height: 1.6;
  font-weight: 500;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  /*Refine the Palette color: #dcdcdc;*/

  background-color: red;

  --gold: #c7a86d; /* muted gold */
  --silver: #a3b7c0; /* soft silver-blue */
  --background-dark: #1e1e1e; /* softer black */
  --background-light: #f4f4f4; /* soft white */

  /*Refine the Palette */
  /*  */
  --gold: pale goldenrod;
  --silver: #81a3a7;
  --groen: #398718;
  --blauw: #00aaff;
  --wit: #fff;
  --zwart: #000;
  --warning-red: red;
  --fullwidth: 100%;
  --transitionInSeconds: 0.6s;
  --logoTransitionInSeconds: 0.8s;
  --be_here_now_blue: #301987;

  --border: 2px solid var(--gold);
}

* {
  text-decoration: none;
}


main {
  line-height: normal;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items horizontally */
  text-align: center;
}


body {
  display: grid;
  margin: 0;
  height: 100vh; /* use viewport height to make it full-screen height */
  font-family: Inter;

  /*width: 100vw;*/
  /*justify-content: center !important;*/
}

#app {
  /*margin-top: 30px; !* Adjust the value to the height of your navbar *!*/
  width: 100vw; /* max width of app */
}


header-menu {
  z-index: 100; /* Adjust as needed */
  position: relative; /* or absolute, depending on your layout */
  border-bottom: dotted white 1px;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-family: Playfair Display;
}


hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

img {
  width: auto;
  max-height: 50svh;
  max-width: 90% !important;
  padding: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 1.5rem solid #f6f6dc !important;
  -webkit-filter: sepia(7%); /* Safari 6.0 - 9.0 */
  filter: sepia(7%);
  display: block !important;
  margin-bottom: 3rem !important;
}

ul {
  list-style-type: none;
}

li {
  position: relative;
  padding: 1rem;
}

a {
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .25em;
  display: inline-block;
  padding: 15px;
  position: relative;
}

a:hover::after {
  width: 100%;
  right: 0;
}

a::after {
  /*background: none repeat scroll 0 0 transparent;*/
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  right: 0;
  position: absolute;
  background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
  transition: all 0.3s ease;
  width: 0;
}

@media (max-width: 952px) {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  main {
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  / / This centers inline or inline-block content line-height: normal;
  }

  body {
  }

  ul {
    /* This will center the child elements horizontally */
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }


  footer-menu {
    width: 100%;
    height: 100%;
    font-size: 2.1rem;
    line-height: 1.3rem;
    letter-spacing: 2px;
  }

  .dropdown-menu {
    margin-left: 0 !important;
  }

  img {
    border: 5px solid moccasin !important;
    padding: 3px !important;
    margin: 10px;
  }

  li {
    padding: 0;
  }

  a {
    margin: .5rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--zwart);
    background-color: var(--wit);
  }

  main {
    color: var(--zwart);
    /* background-color: transparent; */
  }

  table {
    color: var(--wit);
    background: var(--wit);
  }

  :root .header_bar {
    color: var(--wit);
    background-color: var(--wit);
  }

  a {
    color: #4444b4;
  }

  nav ul li a {
  / / color: var(--zwart) !important;
    background-color: var(--wit);
    border-bottom-color: var(--gold);
  }

  nav ul li a.active, a:hover {
    transition: var(--transitionInSeconds);
    color: var(--zwart) !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--wit);
    background-color: var(--zwart);
  }

  main {
    color: var(--wit);
    background-color: var(--zwart);
  }

  table {
    color: var(--wit);
    background: var(--zwart);
  }

  :root .header_bar {
    color: var(--wit);
    background-color: var(--zwart);
  }

  nav ul li a {
    color: var(--wit);
    background-color: var(--zwart);
  }

  nav ul li a.active, a:hover {
    background: var(--silver);
    transition: var(--transitionInSeconds);
    color: var(--zwart) !important;
  }

}


