:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --silver: #cccccc;
  --gold: #ffcc00;

  --groen: #00c300;
  --blauw: #00aaff;
  --wit: #ffffff;
  --grijs: #e2e2e2;
  --zwart: #1e1e1e;
  --warning-red: red;
  --fullwidth: 100%;
}

body {
  height: 100%;

  margin: 0;
  /*display: flex;*/
  place-items: center;
  min-width: 320px;
  min-height: 100%;

  background-image: url('achtergrondshapes.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  /*background-position: top;*/

  overflow: auto;
  /*padding-bottom: 180px;*/
  /* must be same height as the footer */

}

.side-by-side {
  margin-left: auto;
  margin-right: 0;
  place-items: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--wit);
    background-color: var(--zwart);
  }

  main {
    color: var(--wit);
    background-color: var(--zwart);
  }

  table {
    color: var(--wit);
    background: var(--zwart);
  }

  :root .entire_menu_bar {
    color: var(--wit);
    background-color: var(--zwart);
  }

  nav ul li a {
    color: var(--wit);
    background-color: var(--zwart);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--zwart);
    background-color: var(--wit);
  }

  main {
    color: var(--zwart);
    background-color: var(--wit);
  }

  table {
    color: var(--wit);
    background: var(--wit);
  }

  :root .entire_menu_bar {
    color: var(--wit);
    background-color: var(--wit);
  }

}

.entire_menu_bar {
  height: 8em;
  border: 1px solid var(--zwart);
  background-color: #151617;

  position: relative;
  overflow: hidden;
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

